head, body {
	height: 100%;
}

body {
	background-color: hsl(0, 0%, 91%);
}

h1, h1 a, h1 a:link, h1 a:visited {
	margin: 4% 0 0 0;
	text-align: center;
	text-transform: uppercase;
	font-size: 1.6em;
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	color: hsl(0, 0%, 100%);
	text-shadow: 1px 1px .5px hsl(0, 0%, 0%);
	text-decoration: none;
	letter-spacing: .25em;
	word-spacing: .3em;
}

#tagline {
	font-family: 'Cormorant Garamond', serif;
	text-align: center;
	font-size: 1.2em;
	color: hsl(0, 0%, 100%);
	text-shadow: 1px 1px .5px hsl(0, 0%, 0%);
	letter-spacing: .01em;
	word-spacing: .3em;
	font-weight: 500;
}

#nav {
	font-size: 0; /* Quick hack to stop the browser from rendering the spaces between tabs (why does it do this??) */
	text-align: center;
	letter-spacing: .02em;
}

#nav li {
	font-size: 16px;
	padding: 15px 0;
}

#nav > li {
	display: inline-block;
	margin: 5px 0;
}

#nav > li.current {
	background-color: hsl(0, 0%, 83%);
}

#nav > li:hover {
	background-color: hsl(0, 0%, 83%);
}

#nav > li > a {
	padding: 15px 2vw;
	font-family: 'Montserrat', serif;
	font-weight: 400;
	text-decoration: none;
	text-transform: uppercase;
	color: hsl(0, 0%, 100%);
	text-shadow: 1px 1px .5px hsl(0, 0%, 0%);
}

#nav li:hover .dropdown {
	display: block;
}

.dropdown {
	display: none;
	position: absolute;
	margin-top: 15px;
	padding: 0px 0;
	background-color: hsl(0, 0%, 88%);
}

.dropdown li {
	display: block;
	text-align: left;
}

.dropdown li:hover {
	background-color: hsl(0, 0%, 83%);
}

.dropdown li a {
	padding: 15px 1.55vw;
	font-family: 'Crimson Text', serif;
	font-weight: 600;
	color: hsl(0, 0%, 0%);
	text-decoration: none;
}

#main_body {
	margin: 0px 12%;
}

h2 {
	font-family: 'Great Vibes', cursive;
	font-size: 3em;
	margin: 0px;
	font-weight: normal;
}

#content {
	font-family: 'Crimson Text', serif;
	font-size: 1.1em;
	text-align: justify;
	margin-top: 1em;
	margin-bottom: 3em;
}

#leopard_licking_its_nose {
	margin: 2em;
	text-align: center;
}

#metronome-canvas {
	display: block;
	width: 640px;
	margin: 0 auto;
	border: 1px solid black;
}

.summary {
	font-style: italic;
	font-size: .95em;
}

#content li {
	display: block;
}

#content p {
	margin: .5em 0;
}

.work-list li {
	margin: 1.5em 0;
}

.work-list p {
	margin: .2em 0 !important;
}

.work-title {
	float: left;
	font-weight: 600;
}

.work-info {
	float: right;
	font-weight: 600;
}

.work-desc, .work-extra {
	clear: both;
}

#footer {
	font-family: 'Crimson Text', serif;
	font-size: 16px;
	padding: .4em;
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	text-align: center;

	background-color: hsl(0, 0%, 83%);
}

#footer p {
	margin: 0;
}
